@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.imgprincipal {
  height: 380px;
  object-fit: cover;
}

.w-select {
  width: 170px !important;
}

.bgplanta {
  background-color: #9acd32;
}

.bgveneno {
  background-color: #8a2be2;
}

.bgfuego{
    background-color: #fd7d24;
}

@media (width >= 992px){
    .w-card{
        width: 312px !important;
    }
}