@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.imgprincipal {
  height: 380px;
  object-fit: cover;
}

.w-select {
  width: 170px !important;
}

.bgplanta {
  background-color: #9acd32;
}

.bgveneno {
  background-color: #8a2be2;
}

.bgfuego{
    background-color: #fd7d24;
}

.bgvolador{
    background-color: #3dc7ef;
}

.bgagua{
    background-color: #4592c4;
}

.bgbicho{
    background-color: #729f3f;
}

.bgdetalle{
    background-color: #30a7d7;
}

.bgelectrico{
    background-color: #eed535;
}

.bgroca{
    background-color: #a38c21;
}

@media (width >= 992px){
    .w-card{
        width: 312px !important;
    }
}

@media (width < 992px){
    .w-card{
        width: 350px !important;
    }
}